.banner{
    position: relative;
    background-color: #c2f5aa;
    border-radius: 8px;
    margin: 0 0 20px;
    margin-top: 10px;
}
.banner-image{
    position: absolute;
    left: 70px;
    bottom: 0;
    width: 230px;
}
.banner-text{
    text-align: center;
    font-size: 27px;
    padding: 70px 0 70px 434px;
    margin: 0;
    line-height: 42px;
}
@media screen  and (min-device-width:320px)and (max-device-width:768px){
    .banner-text{
        padding: 20px;
        line-height: 28px;
        font-size: 20px;
        text-align: center;
    }
    .banner-image{
        position: initial;
        margin: 0 auto;
        width: 200px;
    }
    
}