<div class="col-sm-12">
    <div class="card rounded-0">
        <div class="card-img-container">

            <img src="../../assets/Tile_Image.jpg" class="card-img rounded-0 custom-card-image" alt="...">
            <div class="custom-card-btn" *ngIf="item.isForSell">
                <button class="btn btn-success">Buy Now</button>
            </div>
            <div class="custom-card-name" >{{item.name}}</div>
        </div>
        <div class="clearfix"></div>

        <!-- <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
        </div> -->
        <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{item.subtitle}}</h6>
            <p class="card-text">{{ item.desc }}</p>
        </div>
    </div>
</div>